<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>TODO WEB APPLICATION</title>
    <style>
        body {
            background-image: url('../static/background.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            font-family: 'flamenco';
        }

        input {
            width: 100%;
            height: 60px;
            padding: 10px;
            font-size: 30px;
        }
    </style>
</head>

<body>
    <div class="container my-5">
        <h1 class="text-center">TODO WEB APPLICATION</h1>
        <hr>
        <div class="card card-body p-4" style="opacity: 0.8; box-shadow: 0px 1px 13px 4px rgba(69,211,209,1);
        -webkit-box-shadow: 0px 1px 13px 4px rgba(69,211,209,1);
        -moz-box-shadow: 0px 1px 13px 4px rgba(69,211,209,1);">
            <div class="card card-body">
                <form method="POST" action="/">
                    {% csrf_token %}
                    {{form.title}} <br><br>
                    <input type="submit" value="CREATE NEW TASK" class="btn btn-success">
                </form>
            </div>
            <br>

            {% for task in tasks %}
            <div class="card card-body d-flex flex-row bg-dark bg-gradient text-white"
                style="display: flex; justify-content: space-between; border: 1px solid purple; border-radius: 5px;">
                {% if task.completed == True %}
                <strike>{{task.title}}</strike>
                {% else %}
                <h4>{{ task.title}}</h4>
                {% endif %}
                <div>
                    <a href="{% url 'update_task' task.id %}" class="btn btn-info">Update</a>
                    <a href="{% url 'delete' task.id %}" class="btn btn-danger">Delete</a>
                </div>
            </div>
            <br>
            {% endfor %}
        </div>
        <br>
        <hr>
        <p class="text-center" style="font-size: 20px;">Copyright <span id="date"></span>
            <a href="https://prakashgm.com.np" style="text-decoration: none; color:aliceblue;">@iamprakashgm
            </a>
        </p>
    </div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
</body>
<script>
    date = new Date();
    year = date.getFullYear();
    document.getElementById('date').innerText = year;
</script>

</html>